/* ----------------------------------------> BUTTON */

.button__title {
  font-size: 12px;
  text-transform: uppercase;

  padding: 5px;
  min-width: 50px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  cursor: pointer;
  border-radius: 5px;
  border-width: 1px;
  background-color: #fafbfd;
}

.button__title:hover:enabled {
  background: green;
  color: white;
}

.button__title:hover:disabled {
  background: red;
  color: white;
}
